<h5>test</h5>


<%= render @users %>
<form>
  <input type="text" id="name" data-behavior = 'user-speaker'>
  <input type="text" id="text" data-behavior = 'user-speaker'>
  <input type="button" id="sub" data-behavior = 'user-speaker' value="submit">
</form>